django==5.1.7
django-crispy-forms==2.3
pytz==2025.2
defusedxml==0.7.1
Pillow==11.1.0
sorl-thumbnail==12.11.0
libsass==0.23.0
django-compressor==4.5.1
django-sass-processor==1.4.1
openpyxl==3.1.5
tablib==3.8.0
httpretty==1.1.4
xmltodict==0.14.2
django-ses==4.4.0
reportlab==4.3.1
qrcode==8.0
mysqlclient==2.2.7
django-storages==1.14.5
django-database-view==0.3.0

# Framework for API v2
django-tastypie==0.15.1

# Framework for API v3
djangorestframework==3.15.2
django-filter==25.1

# For testing and code formatting
pycodestyle==2.12.1
pytest==8.3.5
pytest-django==4.10.0
